.button {
  border: solid 1px gray;
  width: 50%;
  margin: 0 auto;
  height: 3rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.button div {
  /* background: green; */
  width: 4rem;
  height: 2.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: 0.4s ease;
}

.light {
  border: solid 1px gray;
  transform: translateX(.2rem);
}

.dark {
  border: none;
  background: #101719;
  transform: translateX(8.9rem);
  color: white;
}
